.image-component .image-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid var(--border-color);
}

.image-component .loadscreen {
   width: 67vw;
}
